/* Made by Sana */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(60deg, hsla(1, 84%, 80%, 1) 0%, hsla(56, 100%, 50%, 1) 100%);
    color: #fff;
}
.main{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 4px solid black;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(270deg, hsla(0, 0%, 0%, 1) 0%, hsla(243, 89%, 52%, 1) 100%);
    box-shadow: inset 4px 0 5px #000;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 10px 0;
    width: inherit;
}
.hour, .min, .sec {
    width: 50px;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 10px;
    color: #000838;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.meridiem{
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 10px;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.date{
    font-size: 1.5rem;
}
.day{
    font-size: 2rem;
}
p{
    margin-top: 40px;
    color: #009;
    font-size: 2.5rem;
    text-shadow: 0 0 10px #fff;
    padding: 0 10px;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #fff, 0 0 10px #fff;
}

@media(max-width: 450px){
    .main{
        width: 280px;
        height: 160px;
    }
    .time{
        font-size: 2rem;
        margin: 8px 0;
    }
    .hour, .min, .sec{
        width: 40px;
        font-size: 1.75rem;
        padding: 6px;
        margin: 0 6px;
    }
    .meridiem{
        width: 20px;
        font-size: 0.8rem;
        padding: 8px;
        margin: 0 5px;
    }
    .day{
        font-size: 1.5rem;
    }
    .date{
        font-size: 1.25rem;
    }
    p{
        font-size: 1.75rem;
    }
}